.container {
    display: flex;
    flex-direction: row;
}

.left-column {
    display: flex;
    justify-self: start;
    background-color: rgb(230, 230, 230);

    width: 23%;
}

.right-column {
    display: flex;
    justify-self: end;
    background-color: rgb(230, 230, 230);

    width: 23%;
}

.up-row {
    background-color: rgb(3, 82, 26);
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 180px;
    width: 100%;
}

.authors-avatar {
    border-radius: 360px;
    border: 4px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);

    height: 210px;
    width: 210px;

    position: absolute;
    margin: -5px 0px 0px -4px;
}

.authors-avatar-border {
    height: 210px;
    width: 210px;
    border-radius: 360px;
    border: 16px solid rgb(3, 82, 26);

    margin: 80px 15px 0px 0px;
}

.header-text-1 {
    color: rgb(255, 255, 255);
    font-size: 40px;

    margin: 0px 0px 0px 100px;
}

.header-text-2 {
    color: rgb(255, 255, 255);
    font-size: 40px;

    margin: 0px 100px 0px 0px;
}

.down-row {
    background-color: rgb(3, 82, 26);
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 180px;
    width: 100%;
}

.down-logo {
    padding: 0px 200px;

    height: 140px;
    width: 140px;
}